<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
</head>
<body>
    <h1>Login Successful!</h1>
    <h2>Welcome, <%= user.username %>!</h2>
    <img src="<%= user.thumbnail %>" alt="Profile Picture">
    <p>Email: <%= user.email %></p>
    <a href="/auth/signout">Sign Out</a>
</body>
</html>
